In [2]:
import pandas as pd
import sql_manager
import mplfinance as mpf
from datetime import datetime

In [3]:
data = sql_manager.select_gpw_data()

In [4]:
df = data[data['symbol']=='11BIT']
df = df.sort_values(by=['date'])
df = df.reset_index(drop=True)
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           671 non-null    datetime64[ns]
 1   symbol         671 non-null    object
 2   ISIN           671 non-null    object
 3   currency       671 non-null    object
 4   open           671 non-null    float64
 5   max            671 non-null    float64
 6   min            671 non-null    float64
 7   close          671 non-null    float64
 8   %change        671 non-null    float64
 9   quantity       671 non-null    int64
 10  num_of_trans   671 non-null    int64
 11  volume         671 non-null    float64
 12  num_of_o_pos   671 non-null    int64
 13  vol_of_o_pos   671 non-null    int64
 14  nominal_price  671 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(5), object(3)
memory usage: 78.8+ KB

In [8]:
df.head()

,date,symbol,ISIN,currency,open,max,min,close,%change,quantity,num_of_trans,volume,num_of_o_pos,vol_of_o_pos,nominal_price
0,2019-01-02,11BIT,PL11BTS00015,PLN,244.0,263.5,242.0,254.0,4.10,10779,512,2723380.0,0,0,0
1,2019-01-03,11BIT,PL11BTS00015,PLN,253.0,259.0,249.5,251.0,-1.18,4492,261,1142960.0,0,0,0
2,2019-01-04,11BIT,PL11BTS00015,PLN,252.0,262.0,251.5,262.0,4.38,8914,294,2299180.0,0,0,0
3,2019-01-07,11BIT,PL11BTS00015,PLN,263.5,270.0,263.5,268.0,2.29,9606,384,2574820.0,0,0,0
4,2019-01-08,11BIT,PL11BTS00015,PLN,270.0,271.5,257.5,258.0,-3.73,5852,391,1539640.0,0,0,0